<% if @user.errors.any? %>
  <h1>
    There are <%= pluralize(@user.errors.count, 'error') %>
  </h1>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
