<header class="header">
  <%= link_to 'Thoughtbox', links_path %>
  <% if current_user %>
    <div class="greeting">
      <small>Welcome, <%= current_user.email %>!</small>
      <%= link_to 'Log Out', logout_path, method: :delete %>
    </div>
  <% end %>
</header>
