<header>
  <%= link_to 'Thoughtbox', links_path %>
  <% if current_user %>
    <span>Welcome, <%= current_user.email %>!</span>
    <%= link_to 'Log Out', logout_path, method: :delete %>
  <% end %>
</header>
